.blog__card {
	margin-bottom: 212px;

	@media screen and (min-width: 768px) {
		margin-bottom: 244px;
	}

	@media screen and (min-width: 1280px) {
		margin-bottom: 281px;
	}
}

.blog__card-image {
	width: 85px;
	height: 85px;
	margin: 0 auto;
	margin-bottom: 29px;

	@media screen and (min-width: 768px) {
		margin-bottom: 19px;
	}
	@media screen and (min-width: 1280px) {
		margin-bottom: 15px;
	}
}

.blog__card-image > img {
	object-fit: unset;
}

.blog__text-container {
	position: relative;
	width: 280px;
	height: 308px;
	background-color: #fafafa;
	padding: 43px 66px 26px 57px;
	margin-bottom: 30px;

	@media screen and (min-width: 768px) {
		width: 620px;
		height: 164px;
		padding: 47px 80px 34px;
		margin-bottom: 24px;
	}
	@media screen and (min-width: 1280px) {
		width: 926px;
		height: 138px;
		padding: 47px 89px 39px 87px;
		margin-bottom: 15px;
	}
}

.blog__blockquote {
	position: absolute;
	width: 54px;
	height: 40px;
	top: 28px;
	left: 61px;

	@media screen and (min-width: 768px) {
		top: 30px;
		left: 40px;
	}

	@media screen and (min-width: 1280px) {
		top: 32px;
		left: 50px;
	}
}

.blog__text-position {
	position: relative;
	width: 157px;
	height: 245px;
	margin: 0 auto;
	z-index: 1;

	@media screen and (min-width: 768px) {
		width: 460px;
		height: 83px;
	}
	@media screen and (min-width: 1280px) {
		width: 750px;
		height: 52px;
	}
}

.blog__text-lines {
	position: absolute;
	top: 40px;
	left: 50px;

	@media screen and (min-width: 768px) {
		top: 45px;
		left: 60px;
	}
	@media screen and (min-width: 1280px) {
		top: 44.5px;
		left: 59px;
	}
}

.lines-hr {
	width: 180px;
	border: 0.5px solid #e1e1e1;
	margin-top: 30px;

	@media screen and (min-width: 768px) {
		width: 524px;
	}
	@media screen and (min-width: 1280px) {
		width: 813px;
	}
}

.blog__title::before {
	content: "";
	display: block;
	width: 280px;
	height: 4px;
	background-image: url(../images/triple-dot.svg);
	background-position: center;
	background-repeat: no-repeat;
	margin-bottom: 18px;

	@media screen and (min-width: 768px) {
		width: 620px;
		margin-bottom: 14px;
	}
	@media screen and (min-width: 1280px) {
		width: 926px;
		margin-bottom: 15px;
	}
}

@media screen and (min-width: 768px) {
	.lines-mobile {
		display: none;
	}
}

@media screen and (min-width: 1280px) {
	.lines-tablet {
		display: none;
	}
}
