.blog__card {
	margin-right: 20px;
}

.blog__card-image {
	width: 85px;
	height: 85px;
	margin: 0 auto;
	object-fit: unset;
	margin-bottom: 29px;
}

.blog__card-image > img {
	object-fit: unset;
	width: 85px;
	height: 85px;
}

.blog__text-container {
	position: relative;
	width: 280px;
	height: 308px;
	background-color: #fafafa;
	padding: 43px 66px 26px 57px;
	margin-bottom: 30px;
}

.blog__blockquote {
	position: absolute;
	width: 54px;
	height: 40px;
	top: 28px;
	left: 61px;
}

.blog__text-position {
	position: relative;
	width: 157px;
	height: 245px;
	margin: 0 auto;
	z-index: 1;
}

.blog__text-lines {
	position: absolute;
	top: 40px;
	left: 50px;
}

.lines-hr {
	width: 180px;
	border: 0.5px solid #e1e1e1;
	margin-top: 30px;
}

.blog__title::before {
	content: "";
	display: block;
	width: 280px;
	height: 4px;
	background-image: url(../images/triple-dot.svg);
	background-position: center;
	background-repeat: no-repeat;
	margin-bottom: 18px;
}

.blog__title {
	// margin-bottom: 30px;
	margin-bottom: 212px;

}

@media screen and (min-width: 768px) {}

@media screen and (min-width: 1200px) {}