.blog-container {
	width: 320px;
	padding: 0;
	overflow: hidden;
}

.blog__block {
	position: relative;
	display: flex;
	z-index: 10;
	transition: 200ms ease-in-out;
}

.blog {
	position: relative;
}
