@charset "UTF-8";
/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

img {
  display: block;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
  font-family: Titan One, sans-serif;
  font-weight: 700;
  font-size: 34px;
  color: #d41443;
}

body {
  font-family: DM Sans, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 1.9em;
  color: #000000;
}

a {
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  body {
    font-size: 16px;
    line-height: 28px;
  }
}
.layout-about {
  background-image: url(/info-bcg.eeba1f5a.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
@media screen and (min-device-pixel-ratio: 2) {
  .layout-about {
    background-image: url(/info-bcg@2x.c95be014.png);
  }
}
@media screen and (min-width: 768px) {
  .layout-about {
    background-image: none;
  }
}
@media screen and (min-width: 1280px) {
  .layout-about {
    background-image: url(/info-bcg.eeba1f5a.png);
  }
}
@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2) {
  .layout-about {
    background-image: url(/info-bcg@2x.c95be014.png);
  }
}

.description {
  margin-bottom: 113px;
  padding-top: 26px;
}
@media screen and (min-width: 768px) {
  .description {
    padding-top: 50px;
    margin-bottom: 66px;
    display: flex;
  }
}
@media screen and (min-width: 768px) {
  .description {
    padding-top: 55px;
  }
}

.description__text {
  padding: 0 30px;
}
@media screen and (min-width: 768px) {
  .description__text {
    width: 50%;
    padding: 0;
  }
}
@media screen and (min-width: 1280px) {
  .description__text {
    margin-top: 50px;
    width: 50%;
  }
}
.description__text-item {
  padding: 46px 0;
  font-weight: 500;
  line-height: 19px;
}
@media screen and (min-width: 768px) {
  .description__text-item {
    padding: 46px 0;
    line-height: 25px;
  }
}
@media screen and (min-width: 1280px) {
  .description__text-item {
    padding: 35px 0;
  }
}

.item--grey {
  color: #907e82;
  padding: 0;
  padding-bottom: 17px;
}

.item-text {
  margin-top: 20px;
}

.description__img {
  padding: 0 26px;
  width: 100%;
  height: 279px;
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .description__img {
    padding: 0;
    margin-right: 16px;
    width: 50%;
    height: 340px;
  }
}
@media screen and (min-width: 1280px) {
  .description__img {
    margin-right: 74px;
    width: 50%;
    height: 516px;
  }
}
.description__img-img {
  height: 100%;
  max-width: 280px;
  width: 100%;
  object-fit: contain;
}
@media screen and (min-width: 768px) {
  .description__img-img {
    max-width: 340px;
  }
}
@media screen and (min-width: 1280px) {
  .description__img-img {
    max-width: 516px;
  }
}

.about__btn {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .about__btn {
    margin-top: 62px;
    align-items: flex-start;
  }
}

.button {
  width: 161px;
  height: 44px;
  cursor: pointer;
  text-align: center;
  border: none;
  border-radius: 20px;
  background-color: #ffffff;
  color: #d41443;
  font-weight: bold;
  font-family: DM Sans, sans-serif;
  font-size: 16px;
  line-height: 1.3125;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover {
  background-color: #ecebeb;
}

.button::after {
  content: "";
  background-image: url(/btn-icon.1814b228.svg);
  display: block;
  margin-left: 16px;
  height: 10px;
  width: 8px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.container.products {
  padding-top: 120px;
  padding-bottom: 98px;
  text-align: center;
}

.list__item {
  position: relative;
  border-radius: 24px;
  padding: 160px 40px 40px 40px;
}
.list__item:nth-last-of-type(3) {
  background-color: #ffb8ca;
}
.list__item:nth-last-of-type(2) {
  background-color: #f0d1a5;
}
.list__item:nth-last-of-type(1) {
  background-color: #c2e297;
}

.list {
  padding-top: 144px;
}
.list__item-box {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -45%);
  width: 249px;
}
.list__item-title {
  font-size: 20px;
  line-height: 1.15;
  color: #ffffff;
  letter-spacing: 0.04em;
  font-family: Titan One, sans-serif;
  font-weight: 400;
  margin-bottom: 30px;
}
.list__item-ellipsis {
  margin-bottom: 30px;
}
.list__item-text {
  font-size: 14px;
  line-height: 1.5;
  color: #ffffff;
  letter-spacing: 0.04em;
  margin-bottom: 30px;
}

.item-link__icon {
  border-color: transparent;
  border-width: 1px;
  border-style: solid;
  border-radius: 50px;
}

@media screen and (max-width: 767px) {
  .list__item + .list__item {
    margin-top: 130px;
  }
}
@media screen and (min-width: 768px) {
  .container.products {
    padding-top: 122px;
    padding-bottom: 112px;
  }

  .list__item {
    width: calc((100% - 30px) / 3);
    margin: 5px;
    padding: 152px 10px 40px 10px;
  }

  .list {
    flex-wrap: wrap;
    margin: -5px;
    display: flex;
    padding-top: 150px;
  }
  .list__item-box {
    width: 220px;
  }
  .list__item-text {
    font-size: 14px;
    line-height: 1.7857142857;
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 1280px) {
  .container.products {
    padding-top: 127px;
    padding-bottom: 119px;
  }

  .list__item {
    width: calc((100% - 90px) / 3);
    margin: 15px;
    padding: 163px 44px 50px 44px;
  }

  .list {
    flex-wrap: wrap;
    margin: -15px;
    padding-top: 259px;
  }
  .list__item-box {
    width: 335px;
    transform: translate(-50%, -62%);
  }
  .list__item-title {
    font-size: 30px;
    line-height: 1.1333333333;
  }
  .list__item-text {
    font-size: 16px;
    line-height: 1.75;
    margin-bottom: 62px;
  }
}
.blog {
  position: relative;
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  .blog {
    width: 620px;
    margin: 0 auto;
    overflow: hidden;
  }
}
@media screen and (min-width: 1280px) {
  .blog {
    width: 926px;
  }
}

.blog-container {
  width: 320px;
  padding: 0;
}
@media screen and (min-width: 768px) {
  .blog-container {
    width: 768px;
  }
}
@media screen and (min-width: 1280px) {
  .blog-container {
    width: 1280px;
  }
}

.blog__block {
  position: relative;
  display: flex;
  z-index: 10;
  transition: 350ms cubic-bezier(0, 1.2, 0.944, 1.06) 0s;
}
@media screen and (min-width: 768px) {
  .blog__block {
    transition: 450ms cubic-bezier(0, 1.2, 0.944, 1.06) 0s;
  }
}

.layout__image-blog {
  max-width: 780px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 80px;
}
@media screen and (min-width: 768px) {
  .layout__image-blog {
    max-width: 1280px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 121px;
  }
}
@media screen and (min-width: 768px) and (min-width: 1280px) {
  .layout__image-blog {
    max-width: 1920px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 123px;
  }
}

.blog__card {
  margin-bottom: 212px;
}
@media screen and (min-width: 768px) {
  .blog__card {
    margin-bottom: 244px;
  }
}
@media screen and (min-width: 1280px) {
  .blog__card {
    margin-bottom: 281px;
  }
}

.blog__card-image {
  width: 85px;
  height: 85px;
  margin: 0 auto;
  margin-bottom: 29px;
}
@media screen and (min-width: 768px) {
  .blog__card-image {
    margin-bottom: 19px;
  }
}
@media screen and (min-width: 1280px) {
  .blog__card-image {
    margin-bottom: 15px;
  }
}

.blog__card-image > img {
  object-fit: unset;
}

.blog__text-container {
  position: relative;
  width: 280px;
  height: 308px;
  background-color: #fafafa;
  padding: 43px 66px 26px 57px;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .blog__text-container {
    width: 620px;
    height: 164px;
    padding: 47px 80px 34px;
    margin-bottom: 24px;
  }
}
@media screen and (min-width: 1280px) {
  .blog__text-container {
    width: 926px;
    height: 138px;
    padding: 47px 89px 39px 87px;
    margin-bottom: 15px;
  }
}

.blog__blockquote {
  position: absolute;
  width: 54px;
  height: 40px;
  top: 28px;
  left: 61px;
}
@media screen and (min-width: 768px) {
  .blog__blockquote {
    top: 30px;
    left: 40px;
  }
}
@media screen and (min-width: 1280px) {
  .blog__blockquote {
    top: 32px;
    left: 50px;
  }
}

.blog__text-position {
  position: relative;
  width: 157px;
  height: 245px;
  margin: 0 auto;
  z-index: 1;
}
@media screen and (min-width: 768px) {
  .blog__text-position {
    width: 460px;
    height: 83px;
  }
}
@media screen and (min-width: 1280px) {
  .blog__text-position {
    width: 750px;
    height: 52px;
  }
}

.blog__text-lines {
  position: absolute;
  top: 40px;
  left: 50px;
}
@media screen and (min-width: 768px) {
  .blog__text-lines {
    top: 45px;
    left: 60px;
  }
}
@media screen and (min-width: 1280px) {
  .blog__text-lines {
    top: 44.5px;
    left: 59px;
  }
}

.lines-hr {
  width: 180px;
  border: 0.5px solid #e1e1e1;
  margin-top: 30px;
}
@media screen and (min-width: 768px) {
  .lines-hr {
    width: 524px;
  }
}
@media screen and (min-width: 1280px) {
  .lines-hr {
    width: 813px;
  }
}

.blog__title::before {
  content: "";
  display: block;
  width: 280px;
  height: 4px;
  background-image: url(/triple-dot.2e570e25.svg);
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 18px;
}
@media screen and (min-width: 768px) {
  .blog__title::before {
    width: 620px;
    margin-bottom: 14px;
  }
}
@media screen and (min-width: 1280px) {
  .blog__title::before {
    width: 926px;
    margin-bottom: 15px;
  }
}

@media screen and (min-width: 768px) {
  .lines-mobile {
    display: none;
  }
}
@media screen and (min-width: 1280px) {
  .lines-tablet {
    display: none;
  }
}
.blog__text {
  font-family: DM Sans, sans-serif;
  font-style: normal;
  font-weight: 500;
  text-transform: none;
  text-align: center;
  color: #000000;
  font-size: 12px;
  line-height: 2.5833333333;
}
@media screen and (min-width: 768px) {
  .blog__text {
    font-size: 14px;
    line-height: 2.1428571429;
    letter-spacing: 0.04em;
  }
}
@media screen and (min-width: 1280px) {
  .blog__text {
    font-size: 16px;
    line-height: 1.875;
  }
}

.blog__title {
  font-family: DM Sans, sans-serif;
  font-style: normal;
  font-weight: 500;
  text-transform: none;
  text-align: center;
  color: #000000;
  font-size: 14px;
  line-height: 1.8571428571;
}
@media screen and (min-width: 768px) {
  .blog__title {
    font-size: 16px;
    line-height: 1.875;
  }
}
@media screen and (min-width: 1280px) {
  .blog__title {
    font-size: 20px;
    line-height: 1.85;
  }
}

.select__item {
  display: none;
}

.controls {
  position: absolute;
  z-index: 11;
  display: flex;
  top: 528px;
  left: 86px;
}
@media screen and (min-width: 768px) {
  .controls {
    top: 370px;
    left: 256px;
  }
}
@media screen and (min-width: 1280px) {
  .controls {
    left: 409px;
  }
}

.control__item {
  cursor: pointer;
  display: block;
  width: 12px;
  height: 12px;
  background: #d9d9d9;
  border-radius: 50%;
  margin-left: 18px;
  transition: 300ms ease-out;
}

.control__item-main {
  cursor: pointer;
  display: block;
  background-image: url(/selector.a9af3182.svg);
  background-repeat: no-repeat;
  filter: invert(0.8);
  width: 12.4px;
  height: 11.9px;
  margin-left: 18px;
  transition: 500ms ease-in;
}

#select__item-1:checked ~ .blog__block {
  transform: translateX(0%);
}

#select__item-2:checked ~ .blog__block {
  transform: translateX(-100%);
}

#select__item-3:checked ~ .blog__block {
  transform: translateX(-200%);
}

#select__item-1:checked ~ .controls .control__item-main {
  transform: scale(1.3);
  filter: invert(18%) sepia(94%) saturate(3182%) hue-rotate(334deg) brightness(82%) contrast(102%);
}

#select__item-1:hover ~ .controls .control__item-main {
  filter: invert(18%) sepia(94%) saturate(3182%) hue-rotate(334deg) brightness(82%) contrast(102%);
  transition: 800ms ease;
}

#select__item-2:checked ~ .controls .item-2,
#select__item-3:checked ~ .controls .item-3 {
  transform: scale(1.25);
  background: #d31342;
}

#select__item-2:hover ~ .controls .item-2,
#select__item-3:hover ~ .controls .item-3 {
  background: #d31342;
}

.header-container.container {
  position: static;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 767px) {
  .header-container.container {
    padding-top: 6px;
  }
}
@media screen and (min-width: 768px) {
  .header-container.container {
    padding-top: 37px;
  }
}
@media screen and (min-width: 1280px) {
  .header-container.container {
    padding-left: 46px;
    padding-right: 97px;
  }
}

@media screen and (max-width: 1279px) {
  .logo__link {
    margin-right: auto;
  }
}

.logo__svg {
  max-width: 199px;
  max-height: 50px;
}

@media screen and (max-width: 1279px) {
  .menu-container {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 11;
    pointer-events: none;
    opacity: 0;
    width: 100%;
    height: 100vh;
    transition: opacity 0.5s linear;
    background-color: rgba(83, 2, 2, 0.2);
  }
}
.menu-container.is-open {
  opacity: 1;
  transition: opacity 0.5s linear;
}
.menu-container.is-open .backdrop {
  opacity: 1;
  pointer-events: visible;
}

@media screen and (max-width: 1279px) {
  .backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 40%;
    z-index: 15;
    pointer-events: none;
    opacity: 0;
    background-color: #e17992;
    transition: opacity 0.5s linear;
  }
}
@media screen and (max-width: 1279px) and (max-width: 767px) {
  .backdrop {
    width: 100%;
  }
}
@media screen and (min-width: 1280px) {
  .menu-container {
    z-index: 1;
  }
  .menu-container .burger--btn-close {
    display: none;
  }
  .menu-container .header__btn {
    display: none;
  }

  .nav-list {
    display: flex;
    margin: -2px -17px;
    flex-wrap: wrap;
    justify-content: center;
  }
  .nav-list__item {
    padding: 2px 17px;
  }
  .nav-list__link {
    font-family: DM Sans, sans-serif;
    font-size: 16px;
    line-height: 1.3125;
    color: #ffffff;
    text-decoration: none;
  }
  .nav-list__link.is--current {
    color: #d41443;
  }
}
.nav-list__link {
  transition: color 0.2s linear;
}
.nav-list__link:hover, .nav-list__link:focus {
  color: #d41443;
}

.burger--btn {
  z-index: 2;
  width: 40px;
  height: 40px;
  cursor: pointer;
  display: flex;
  border: none;
  background-color: transparent;
}
@media screen and (min-width: 1280px) {
  .burger--btn {
    display: none;
  }
}
.burger--btn-close {
  margin-top: 10px;
  margin-right: 20px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  display: flex;
  border: none;
  background-color: transparent;
  margin-left: auto;
}

.header__btn {
  width: 209px;
  height: 44px;
  cursor: pointer;
  text-align: center;
  border: none;
  border-radius: 20px;
  background-color: #ffffff;
  color: #d41443;
  font-weight: 700;
  font-family: DM Sans, sans-serif;
  font-size: 16px;
  line-height: 1.3125;
  margin-top: 23px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 4;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__btn-thd {
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 160px;
  height: 44px;
  cursor: pointer;
  text-align: center;
  border: none;
  border-radius: 20px;
  background-color: #ffffff;
  color: #d41443;
  font-weight: 700;
  font-family: DM Sans, sans-serif;
  font-size: 16px;
  line-height: 1.3125;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 767px) {
  .header__btn-thd {
    display: none;
  }
}
@media screen and (max-width: 1279px) {
  .header__btn-thd {
    margin-left: 30px;
  }
}
.header__btn-thd:hover {
  background-color: #ecebeb;
}
.header__btn:hover {
  background-color: #ecebeb;
}

.header__btn::after,
.header__btn-thd::after {
  content: "";
  background-image: url(/btn-icon.1814b228.svg);
  display: block;
  margin-left: 16px;
  height: 10px;
  width: 8px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media screen and (max-width: 1279px) {
  .nav-list {
    margin-top: 19px;
  }
  .nav-list__item {
    padding: 20px 0;
    border-top: 1px solid #e18298;
    border-bottom: 1px solid #e18298;
  }
}
@media screen and (max-width: 1279px) and (min-width: 768px) {
  .nav-list__item {
    padding: 11px 0;
  }
}
@media screen and (max-width: 1279px) {
  .nav-list__link {
    padding: 0 30px;
    font-family: DM Sans, sans-serif;
    font-size: 20px;
    line-height: 1.3;
    color: #ffffff;
    font-weight: 700;
    text-decoration: none;
  }
}
@media screen and (max-width: 1279px) and (min-width: 768px) {
  .nav-list__link {
    font-size: 20px;
    line-height: 1.3;
  }
}
.layout-overlay {
  height: 446px;
}
@media screen and (max-width: 767px) {
  .layout-overlay {
    overflow: hidden;
  }
}
@media screen and (min-width: 768px) {
  .layout-overlay {
    height: 312px;
  }
}
@media screen and (min-width: 1280px) {
  .layout-overlay {
    height: 578px;
  }
}

@media screen and (min-width: 1280px) {
  .overlay.container {
    padding: 0 77px;
  }
}

.overlay__sector-one {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 767px) {
  .overlay__sector-one {
    position: relative;
    top: 137px;
    z-index: 2;
  }
}
@media screen and (min-width: 768px) {
  .overlay__sector-one {
    padding-top: 12px;
  }
}
@media screen and (min-width: 1280px) {
  .overlay__sector-one {
    padding-top: 74px;
  }
}

.overlay__sector-two {
  display: flex;
  justify-content: space-between;
  padding-top: 43px;
}
@media screen and (max-width: 767px) {
  .overlay__sector-two {
    display: none;
  }
}
@media screen and (min-width: 1280px) {
  .overlay__sector-two {
    padding-top: 60px;
  }
}

.header__btn-first {
  width: 62px;
  height: 24px;
  cursor: pointer;
  text-align: center;
  border: none;
  border-radius: 20px;
  background-color: #d41443;
  color: #ffffff;
  font-weight: 400;
  font-family: DM Sans, sans-serif;
  font-size: 8px;
  line-height: 1.25;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__btn-first:hover {
  background-color: #c7133e;
}
@media screen and (min-width: 1280px) {
  .header__btn-first {
    width: 104px;
    height: 40px;
    cursor: pointer;
    text-align: center;
    border: none;
    border-radius: 20px;
    background-color: #d41443;
    color: #ffffff;
    font-weight: 400;
    font-family: DM Sans, sans-serif;
    font-size: 14px;
    line-height: 1.2857142857;
  }
}

.header__btn-second {
  width: 83px;
  height: 24px;
  cursor: pointer;
  text-align: center;
  border: none;
  border-radius: 20px;
  background-color: #ffffff;
  color: #d41443;
  font-weight: 400;
  font-family: DM Sans, sans-serif;
  font-size: 8px;
  line-height: 1.25;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__btn-second:hover {
  background-color: #ecebeb;
}
@media screen and (min-width: 1280px) {
  .header__btn-second {
    width: 138px;
    height: 40px;
    cursor: pointer;
    text-align: center;
    border: none;
    border-radius: 20px;
    background-color: #ffffff;
    color: #d41443;
    font-weight: 400;
    font-family: DM Sans, sans-serif;
    font-size: 14px;
    line-height: 1.2857142857;
  }
}

.header__block {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 1280px) {
  .header__block {
    height: 191px;
    width: 418px;
  }
}
.header__block-list {
  margin-left: 30px;
  height: 124px;
}
@media screen and (max-width: 1279px) {
  .header__block-list {
    margin-left: 0;
    height: 75px;
  }
}
.header__block-img {
  object-fit: contain;
}
@media screen and (min-width: 768px) {
  .header__block-img {
    width: 124px;
    height: 126px;
  }
}
@media screen and (min-width: 1280px) {
  .header__block-img {
    width: 188px;
    height: 191px;
  }
}
.header__block-text {
  font-weight: 400;
  color: #ffffff;
  font-size: 8px;
  line-height: 1.5;
  width: 114px;
  height: 48px;
}
@media screen and (min-width: 1280px) {
  .header__block-text {
    font-size: 14px;
    line-height: 1.4285714286;
    width: 200px;
    height: 78px;
  }
}
.header__block-btn {
  padding: 0 0;
  margin-top: 20px;
  border: none;
  background-color: transparent;
  width: 26px;
  height: 26px;
  border-radius: 50px;
  cursor: pointer;
}
@media screen and (max-width: 1279px) {
  .header__block-btn {
    margin-top: 9px;
  }
}

.header__box-title {
  font-family: Titan One, sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 26px;
  line-height: 1.1538461538;
  letter-spacing: 0.04em;
  color: #ffffff;
}
.header__box-title-part {
  display: inline-block;
  font-size: 48px;
  line-height: 0.965;
  color: #d41443;
}
@media screen and (min-width: 768px) {
  .header__box-title {
    font-size: 22px;
    line-height: 1.1363636364;
  }
  .header__box-title-part {
    font-size: 34px;
    line-height: 0.9117647059;
  }
}
@media screen and (min-width: 1280px) {
  .header__box-title {
    font-size: 38px;
    line-height: 1.1578947368;
  }
  .header__box-title-part {
    font-size: 58px;
    line-height: 0.8965517241;
  }
}

.header__box {
  max-width: 218px;
  max-height: 149px;
}
@media screen and (min-width: 768px) {
  .header__box {
    max-width: 162px;
    max-height: 124px;
    margin-top: 3px;
  }
}
@media screen and (min-width: 1280px) {
  .header__box {
    max-width: 277px;
    max-height: 202px;
    margin-left: 38px;
    margin-top: 10px;
  }
}
.header__box-container {
  padding-top: 19px;
}
@media screen and (min-width: 768px) {
  .header__box-container {
    padding-top: 10px;
  }
}
@media screen and (min-width: 1280px) {
  .header__box-container {
    padding-top: 16px;
  }
}
.header__box-list {
  display: flex;
  flex-wrap: wrap;
  margin: -2px -4px;
}
@media screen and (min-width: 1280px) {
  .header__box-list {
    margin: -5px -7px;
  }
}
.header__box-btn {
  margin: 2px 4px;
}
@media screen and (min-width: 1280px) {
  .header__box-btn {
    padding: 5px 7px;
  }
}

.header__count-img {
  display: block;
  width: 33px;
  height: 32px;
}
@media screen and (max-width: 767px) {
  .header__count-img {
    display: none;
  }
}

.header__main-img {
  pointer-events: none;
  position: absolute;
  overflow: hidden;
  z-index: 0;
}
@media screen and (max-width: 767px) {
  .header__main-img {
    top: 52px;
    left: 80px;
    width: 346px;
  }
}
@media screen and (min-width: 768px) {
  .header__main-img {
    top: -56px;
    width: 323px;
    right: 142px;
  }
}
@media screen and (min-width: 1280px) {
  .header__main-img {
    top: -35px;
    width: 538px;
    right: 267px;
  }
}

.header__png {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.header__pretty-img {
  z-index: 1;
}
@media screen and (min-width: 768px) {
  .header__pretty-img {
    height: 133px;
    min-width: 168px;
    width: auto;
  }
}
@media screen and (min-width: 1280px) {
  .header__pretty-img {
    height: 232px;
    min-width: 293px;
    width: auto;
  }
}

@media screen and (min-width: 1280px) {
  .menu {
    z-index: 2;
  }
}
.count__list {
  margin: -7px 0;
}
@media screen and (max-width: 767px) {
  .count__list {
    display: none;
  }
}
.count__item {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 0;
  padding: 7px 0;
}
.count__numb {
  display: inline-block;
  margin: 0 0;
  padding: 0 0;
  font-family: Titan One, sans-serif;
  font-size: 28px;
  line-height: 1.1428571429;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #d41443;
}
@media screen and (min-width: 1280px) {
  .count__numb {
    font-size: 43px;
    line-height: 1.2325581395;
  }
}
.count__txt {
  display: inline-block;
  margin: 0 0;
  padding: 0 0;
  font-family: DM Sans, sans-serif;
  font-size: 8px;
  line-height: 1.25;
  text-align: right;
  color: #ffffff;
}
@media screen and (min-width: 1280px) {
  .count__txt {
    font-size: 14px;
    line-height: 1.2857142857;
  }
}

.count__item::before {
  content: "";
  position: absolute;
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 50px;
  background-color: #ffffff;
  top: 5px;
  left: 25px;
  z-index: -1;
}
@media screen and (min-width: 1280px) {
  .count__item::before {
    width: 30px;
    height: 30px;
    top: 3px;
    left: 40px;
  }
}

.footer {
  padding-top: 85px;
  position: relative;
}

.layout__footer {
  background-color: #FFF5F6;
}

.blocks {
  left: 0;
  transform: translateY(-84px);
  margin-bottom: 54px;
  margin-right: 30px;
  margin-left: 30px;
}
@media screen and (min-width: 768px) {
  .blocks {
    display: flex;
    justify-content: center;
    transform: translateY(-78px);
    margin-bottom: 86px;
  }
}
@media screen and (min-width: 768px) and (min-width: 1280px) {
  .blocks {
    transform: translateY(-102px);
  }
}

.blocks__item {
  margin-right: 30px;
  margin-left: 30px;
  padding-top: 43px;
  padding-bottom: 43px;
  padding-left: 20px;
  padding-right: 21px;
  margin-bottom: 20px;
  background-color: #ffffff;
  border: 1px solid transparent;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
}
.blocks__item:last-child {
  margin-bottom: 0px;
}
@media screen and (min-width: 768px) {
  .blocks__item {
    padding-top: 50px;
    padding-bottom: 50px;
    margin-bottom: 0px;
    width: calc((100% - 40px) / 3);
    margin-left: 0px;
    margin-right: 20px;
  }
  .blocks__item:last-child {
    margin-right: 0px;
    margin-bottom: 0px;
    padding-top: 51px;
    padding-bottom: 62px;
  }
}
@media screen and (min-width: 1280px) {
  .blocks__item {
    padding-left: 43px;
    padding-right: 44px;
    width: calc((100% - 60px) / 3);
    margin-right: 29px;
    margin-bottom: 0px;
  }
  .blocks__item:first-child {
    margin-right: 31px;
  }
  .blocks__item:last-child {
    margin-right: 0px;
  }
}

.blocks__item-type {
  margin-bottom: 25px;
  font-size: 12px;
  display: flex;
  width: 80px;
  height: 16px;
  font-weight: 500;
  line-height: 18.6;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  letter-spacing: 0.04em;
  background-color: #f0d1a5;
  border-radius: 4px;
}
@media screen and (min-width: 768px) {
  .blocks__item-type {
    width: 73px;
    height: 28px;
    margin-bottom: 30px;
    font-size: 16px;
  }
}
@media screen and (min-width: 768px) {
  .blocks__item-type {
    width: 138px;
    height: 28px;
  }
}

@media screen and (min-width: 768px) {
  .blocks__item-city {
    font-size: 14px;
    letter-spacing: 0.04em;
    line-height: 1.86;
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 1280px) {
  .blocks__item-city {
    font-size: 16px;
  }
}

.blocks__item-type-truck {
  background-color: #c2e297;
  width: 130px;
}
@media screen and (min-width: 768px) {
  .blocks__item-type-truck {
    width: 73px;
    height: 28px;
    margin-bottom: 30px;
    font-size: 16px;
  }
}
@media screen and (min-width: 768px) {
  .blocks__item-type-truck {
    width: 138px;
    height: 28px;
  }
}

.blocks__item-title {
  font-size: 12px;
  font-family: DM Sans, sans-serif;
  font-weight: 500;
  letter-spacing: 0.04em;
  color: #000000;
  margin-bottom: 10px;
  text-align: left;
}
@media screen and (min-width: 768px) {
  .blocks__item-title {
    font-size: 14px;
    line-height: 1.86;
    letter-spacing: 0.04em;
  }
}
@media screen and (min-width: 1280px) {
  .blocks__item-title {
    font-size: 16px;
  }
}

.blocks__item-adress {
  font-weight: 500;
  line-height: 1.5;
  color: #907e82;
  margin-bottom: 25px;
  white-space: pre-line;
  line-height: 1.5;
}
@media screen and (min-width: 768px) {
  .blocks__item-adress {
    font-size: 14px;
    line-height: 1.66;
  }
}
@media screen and (min-width: 1280px) {
  .blocks__item-adress {
    font-size: 16px;
    line-height: 1.83;
    letter-spacing: 0.04em;
  }
}
.blocks__item-adress .schedule {
  padding-top: 25px;
  padding-bottom: 25px;
  border-bottom: 1px solid #E1E1E1;
  border-top: 1px solid #E1E1E1;
  margin-bottom: 25px;
}
@media screen and (min-width: 768px) {
  .blocks__item-adress .schedule {
    margin-bottom: 30px;
    padding-bottom: 30px;
  }
}
@media screen and (min-width: 1280px) {
  .blocks__item-adress .schedule {
    margin-bottom: 32px;
    padding-bottom: 32px;
  }
}

.schedule__item-days {
  font-weight: 500;
  line-height: 1.86;
}
@media screen and (min-width: 768px) {
  .schedule__item-days {
    font-size: 14px;
  }
}
@media screen and (min-width: 1280px) {
  .schedule__item-days {
    font-size: 16px;
    letter-spacing: 0.04em;
  }
}

.schedule__item {
  margin-bottom: 10px;
}
.schedule__item:last-child {
  padding-bottom: 25px;
  margin-bottom: 25px;
  border-bottom: 1px solid #E1E1E1;
}
@media screen and (min-width: 768px) {
  .schedule__item {
    margin-bottom: 16px;
  }
  .schedule__item:last-child {
    padding-bottom: 30px;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1280px) {
  .schedule__item {
    margin-bottom: 15px;
  }
  .schedule__item:last-child {
    padding-bottom: 32px;
    margin-bottom: 32px;
  }
}

.schedule__item-time {
  font-weight: 500;
  line-height: 1.86;
  color: #ffb8ca;
}
@media screen and (min-width: 768px) {
  .schedule__item-time {
    margin-bottom: 16px;
    font-size: 14px;
    line-height: 1.86;
  }
}
@media screen and (min-width: 1280px) {
  .schedule__item-time {
    font-size: 16px;
    margin-bottom: 32px;
    font-size: 14px;
    line-height: 1.86;
  }
  .schedule__item-time:last-child {
    margin-bottom: 0px;
  }
}

.blocks__item-contacts {
  font-weight: 500;
  line-height: 1.5;
  color: #907e82;
}
@media screen and (min-width: 769px) {
  .blocks__item-contacts {
    font-size: 14px;
    line-height: 1.83;
  }
}
@media screen and (min-width: 1280px) {
  .blocks__item-contacts {
    font-size: 16px;
  }
}

.blocks__item-tel {
  transition: 250ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
  color: #907e82;
}
.blocks__item-tel:hover {
  color: #ffb8ca;
}

.blocks__item-email {
  color: #907e82;
  transition: 250ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
}
.blocks__item-email:hover {
  color: #ffb8ca;
}

.footer__buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 113px;
}
@media screen and (min-width: 768px) {
  .footer__buttons {
    flex-direction: row;
    justify-content: center;
  }
}

.footer__btn-franchise {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 161px;
  height: 44px;
  cursor: pointer;
  text-align: center;
  border: none;
  border-radius: 20px;
  background-color: #ffffff;
  color: #d41443;
  font-weight: bold;
  font-family: DM Sans, sans-serif;
  font-size: 16px;
  line-height: 1.3125;
}
.footer__btn-franchise::after {
  content: "";
  background-image: url(/btn-icon.1814b228.svg);
  display: block;
  margin-left: 16px;
  height: 10px;
  width: 8px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
@media screen and (min-width: 768px) {
  .footer__btn-franchise {
    width: 191px;
    height: 44px;
  }
}
@media screen and (min-width: 1280px) {
  .footer__btn-franchise {
    width: 180px;
    height: 44px;
  }
}
.footer__btn-franchise:hover {
  background-color: #ecebeb;
}

.footer__btn-locations {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 161px;
  height: 44px;
  cursor: pointer;
  text-align: center;
  border: none;
  border-radius: 20px;
  background-color: #d41443;
  color: #ffffff;
  font-weight: bold;
  font-family: DM Sans, sans-serif;
  font-size: 16px;
  line-height: 1.3125;
}
.footer__btn-locations::after {
  content: "";
  background-image: url(/btn-icon-wt.915fa3e8.svg);
  display: block;
  margin-left: 16px;
  height: 10px;
  width: 8px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
@media screen and (min-width: 768px) {
  .footer__btn-locations {
    margin-bottom: 0px;
    margin-right: 14.5px;
    width: 191px;
    height: 44px;
  }
}
@media screen and (min-width: 1280px) {
  .footer__btn-locations {
    width: 180px;
    height: 44px;
    margin-bottom: 0px;
  }
}
.footer__btn-locations:hover {
  background-color: #c7133e;
}

.footer__tagline {
  display: flex;
  flex-direction: column;
}

.footer__tagline-secondary {
  margin-bottom: 43px;
  white-space: pre-line;
  font-family: Titan One, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 1.14;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #d41443;
}
@media screen and (min-width: 768px) {
  .footer__tagline-secondary {
    font-family: Titan One, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 1.15;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #d41443;
    margin-bottom: 0px;
    white-space: pre-line;
  }
}
@media screen and (min-width: 1280px) {
  .footer__tagline-secondary {
    font-family: Titan One, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 58px;
    line-height: 1.13;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #d41443;
    margin-bottom: 0px;
    white-space: nowrap;
  }
}

.footer__tagline-main {
  white-space: pre-line;
  margin-bottom: 17px;
  width: 232px;
  font-family: Titan One, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0;
  text-transform: uppercase;
  color: #ffb8ca;
}
@media screen and (min-width: 768px) {
  .footer__tagline-main {
    width: 100%;
    font-family: Titan One, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 1.13;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #ffb8ca;
  }
}
@media screen and (min-width: 1280px) {
  .footer__tagline-main {
    font-family: Titan One, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 1.13;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #ffb8ca;
  }
}

.footer__social {
  margin-bottom: 43px;
}
@media screen and (min-width: 768px) {
  .footer__social {
    margin-bottom: 175px;
    margin-left: 92px;
  }
}
@media screen and (min-width: 768px) and (min-width: 1280px) {
  .footer__social {
    margin-bottom: 0px;
  }
}

.footer__contacts {
  display: flex;
  justify-content: flex-end;
  line-height: 1.86;
}
@media screen and (min-width: 768px) {
  .footer__contacts {
    font-size: 14px;
    white-space: nowrap;
  }
}
@media screen and (min-width: 1280px) {
  .footer__contacts {
    margin-bottom: 0px;
  }
}

.footer__contacts-tel {
  line-height: 1.86;
  color: #d41443;
}
.footer__contacts-tel:hover {
  transform: scale(1.1);
}

.social__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin-bottom: 46px;
}
@media screen and (min-width: 1280px) {
  .social__list {
    margin-bottom: 50px;
    margin-right: -30px;
  }
}

.social__list-item {
  margin-right: 28.24px;
  padding-top: 4px;
}
@media screen and (min-width: 768px) {
  .social__list-item {
    margin-right: 30px;
  }
}

.social__list-item:last-child {
  margin-right: 0;
}

.footer__link {
  display: block;
  width: 32px;
  height: 32px;
}
@media screen and (min-width: 768px) {
  .footer__link {
    width: 34px;
    height: 34px;
  }
}

.footer__link:hover .social__icon,
.footer__link:focus .social__icon {
  fill: #d41443;
  transform: scale(1.1);
}

.social__icon {
  fill: #ffb8ca;
  width: 32px;
  height: 32px;
  transition: 350ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
@media screen and (min-width: 768px) {
  .social__icon {
    width: 34px;
    height: 34px;
  }
}
@media screen and (min-width: 768px) and (min-width: 1280px) {
  .social__icon {
    margin-right: 31px;
  }
}
@media screen and (min-width: 768px) and (min-width: 1280px) {
  .social__icon {
    margin-right: 30px;
  }
}

@media screen and (min-width: 768px) {
  .footer__bottom {
    display: flex;
    justify-content: space-between;
    margin-bottom: 97px;
  }
}
@media screen and (min-width: 1280px) {
  .footer__bottom {
    align-items: flex-end;
  }
}

.copyrights {
  display: block;
}

.copyrights__text {
  font-size: 14px;
  line-height: 1.52;
  color: #907e82;
  padding-top: 22px;
  padding-bottom: 25px;
  padding-left: 79px;
  padding-right: 91px;
  border-top: 1px solid #E1E1E1;
  text-align: center;
  white-space: pre-line;
}
@media screen and (min-width: 768px) {
  .copyrights__text {
    padding-bottom: 18px;
    padding-top: 29px;
    white-space: nowrap;
  }
}
@media screen and (min-width: 1280px) {
  .copyrights__text {
    padding-top: 9px;
    padding-bottom: 10px;
  }
}

.example {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 1.5;
  color: #212121;
  max-width: 960px;
  padding: 15px;
}

.example code {
  font-family: monospace;
  font-size: 16px;
  font-weight: 700;
  background-color: lightgrey;
  padding: 2px 6px;
  border-radius: 2px;
}

.btn {
  width: 159px;
  height: 44px;
  text-align: center;
  border: none;
  border-radius: 20px;
}
.btn--frst {
  background-color: #d41443;
  color: #ffffff;
}
.btn--scnd {
  background-color: #ffffff;
  color: #d41443;
}
.btn--bold {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
}
.btn--normal {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28;
}

.cards {
  max-width: 230px;
  flex-wrap: wrap;
}
@media screen and (min-width: 768px) {
  .cards {
    display: flex;
    max-width: 768px;
    margin: 0 -30px;
  }
}
@media screen and (min-width: 1280px) {
  .cards {
    max-width: 1280px;
    margin: 0 -15px;
  }
}

.cards__item {
  margin-top: 38px;
}
@media screen and (min-width: 768px) {
  .cards__item {
    width: 180px;
    margin: 0 30px;
  }
}
@media screen and (min-width: 1280px) {
  .cards__item {
    width: 330px;
    margin: 0 15px;
  }
}

.cards__item-title {
  line-height: 41px;
  font-size: 36px;
  margin: 16px 0;
}

.cards__item-text {
  line-height: 20px;
}

.cards__item-svg.svg--first {
  width: 33px;
  height: 50px;
}

.cards__item-svg.svg--second {
  width: 50px;
  height: 50px;
}

.cards__item-svg.svg--third {
  width: 44px;
  height: 50px;
}

.container {
  max-width: 490px;
  padding: 0 20px;
  margin: 0 auto;
  position: relative;
}

.header,
.layout-overlay {
  background-color: #ffb8ca;
}

.container-about {
  padding-top: 125px;
  padding-bottom: 97px;
}

.layout-about {
  background-color: #FFF5F6;
}

@media screen and (max-width: 767px) {
  .footer {
    height: 502px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 34px;
  }

  .container-about {
    padding-top: 125px;
    padding-bottom: 139px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding: 0 115px;
  }

  .container-about {
    padding-top: 125px;
    padding-bottom: 139px;
  }
}
.section__title {
  text-align: center;
  font-family: Titan One, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0;
  text-transform: uppercase;
  color: #ffa5ba;
}
.section__title-span {
  font-family: Titan One, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 34px;
  line-height: 1.14;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #d41443;
  display: block;
  margin-top: 15px;
}

@media screen and (min-width: 768px) {
  .section__title {
    font-size: 26px;
    line-height: 1.1538461538;
  }
  .section__title-span {
    font-size: 48px;
    line-height: 1.1458333333;
  }
}
@media screen and (min-width: 1200px) {
  .section__title {
    font-size: 30px;
    line-height: 1.1333333333;
  }
  .section__title-span {
    font-size: 58px;
    line-height: 1.1379310345;
  }
}

/*# sourceMappingURL=/src.e31bb0bc.css.map */