@mixin font-line($font-size, $line-height) {
  font-size: $font-size;
  line-height: $line-height/$font-size;
}

@mixin sexy-border($color, $width) {
  border: {
    color: $color;
    width: $width;
    style: solid;
  }
}

@mixin colors($text, $background) {
  color: $text;
  background-color: $background;
}

@mixin width-calc($px, $quantity) {
  width: calc((100% - $px) / $quantity);
}


// Mixin для кнопки
@mixin btn($width, $height, $color, $background, $font-weight, $font-size, $line-height) {
    width: $width;
    height: $height;

    cursor: pointer;
    text-align: center;
    border: none;
    border-radius: 20px;
    background-color: $background;
    color: $color;
    font-weight: $font-weight;
    @include font-line($font-size, $line-height);
}

// @include название миксина(значение, значение);
