$white: #fff;
$black: #000000;
$grey: #907E82;
$pink: #FFB8CA;
$medium-pink:#FFA5BA;
$dark-pink: #E17992;
$red: #D41443;
$sand: #F0D1A5;
$green: #C2E297;
$main-font: DM Sans,
sans-serif;
$title-font: Titan One,
sans-serif;