$white: #fff;
$black: #000000;
$white: #ffffff;
$grey: #907e82;
$grey-hover: #ecebeb;
$pink: #ffb8ca;
$medium-pink: #ffa5ba;
$dark-pink: #e17992;
$border: #e18298;
$red: #d41443;
$red-hover: #c7133e;
$sand: #f0d1a5;
$green: #c2e297;
$main-font: DM Sans, sans-serif;
$title-font: Titan One, sans-serif;
