    .section__title {
        text-align: center;
        @include large-text($color: #ffa5ba, $font-size: 18px, $letter-spacing: 0, $line-height: 1.16);
        &-span {
            @include large-text($color: $red, $font-size: 34px, $letter-spacing: 0.04em, $line-height: 1.14);
            display: block;
            margin-top: 15px;
        }
    }
    
    @media screen and (min-width: 768px) {
        .section__title {
            @include font-line(26px, 30px);
            &-span {
                @include font-line(48px, 55px);
            }
        }
    }
    
    @media screen and (min-width: 1200px) {
        .section__title {
            @include font-line(30px, 34px);
            &-span {
                @include font-line(58px, 66px);
            }
        }
    }