    .container {
        max-width: 490px;
        padding: 0 20px;
        margin: 0 auto;
    }
    
    .header,
    .layout-overlay {
        background-color: $pink;
    }
    
    .container-about {
        padding-top: 125px;
        padding-bottom: 97px;
    }
    
    .layout-about,
    .footer {
        background-color: #FFF5F6;
    }
    
    .footer {
        @media screen and (max-width: 767px) {
            height: 502px;
        }
    }
    
    @media screen and (min-width: 768px) {
        .container {
            width: 490px;
            padding: 0 34px;
        }
        .container-about {
            padding-bottom: 139px;
        }
    }
    
    @media screen and (min-width: 1200px) {
        .container {
            width: 490px;
            padding: 0 115px;
        }
    }