.container {
    max-width: 490px;
    padding: 0 20px;
    margin: 0 auto;
}

.header,
.layout-overlay {
    background-color: $pink;
}

.container-about {
    padding-top: 125px;
    padding-bottom: 145px;
}

.layout-about,
.footer {
    background-color: #FFF5F6;
    ;
}