.btn {
	width: 159px;
	height: 44px;
	text-align: center;
	border: none;
	border-radius: 20px;
	&--frst {
		background-color: $red;
		color: $white;
	}
	&--scnd {
		background-color: $white;
		color: $red;
	}
	&--bold {
		font-weight: 700;
		font-size: 16px;
		line-height: 1.31;
	}
	&--normal {
		font-weight: 400;
		font-size: 14px;
		line-height: 1.28;
	}
}
