<section class="layout layout-about">
    <div class="container">
        <h2 class="setion__title-h2">tradition and love </h2>
        <h3 class="setion__title-h3">how it’s made?</h3>
        <div class="descriptoin">
            <div class="descriptoin__img">
                <img class="descriptoin__img-img" src="./images/info-picture.png" srcset="./images/info-picture@2x.png 2x" alt="">
            </div>
            <ul class="descriptoin__text">
                <li class="descriptoin__text-item">
                    <p>Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.</p>
                </li>
                <li class="descriptoin__text-item item--grey">
                    <p>Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt.</p>
                </li>
                <li class="descriptoin__text-item item--grey">
                    <p>Aliquam erat volutpat. Aenean accumsan.</p>
                </li>
                <li class="descriptoin__text-item ">
                    <button type="" href="" class="btn btn--scnd btn--normal">
                        <p>Read more</p>
                        <svg class="descriptoin__button-svg">
                        <use xlink:href=""></use>
                    </svg>
                    </button>
                </li>
            </ul>
        </div>
        <ul class="cards">
            <li class="cards__item">
                <div class="cards__item-img">
                    <img class="cards__item-svg" src="./images/icon-info-1.svg" alt="">
                </div>
                <!-- <svg class="cards__item-img">
      <use xlink:href="./images/icon-info-1.svg"></use>
  </svg> -->
                <h3 class="cards__item-title">721</h3>
                <div class="cards__item-text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</div>
            </li>
            <li class="cards__item">
                <div class="cards__item-img">
                    <img class="cards__item-svg" src="./images/icon-info-2.svg" alt="">
                </div>
                <h3 class="cards__item-title">16kg</h3>
                <div class="cards__item-text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</div>
            </li>
            <li class="cards__item">
                <div class="cards__item-img">
                    <img class="cards__item-svg" src="./images/icon-info-3.svg" alt="">
                </div>
                <h3 class="cards__item-title">84</h3>
                <div class="cards__item-text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</div>
            </li>
        </ul>
    </div>
</section>