
<section class="layout">
    <div class="container blog-container">

        <div class="blog">
            <div class="blog__image">
                <img src="./images/blog-picture.jpg" alt="" />
            </div>
            <ul class="blog__block">
                <li class="blog__card">
                    <div class="blog__card-image">
                        <img src="./images/girl1.png" alt="" />
                    </div>
                    <div class="blog__text-container">
                      <img class="blog__blockquote" src="./images/blockquotes.png" alt="">
                          <p class="blog__text blog__text-position">
                              Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
                          </p>
                          <div class="blog__text-lines">
                            <div class="lines-desktop">
                              <hr class="lines-hr">
                              <hr class="lines-hr">
                              <div class="lines-tablet">
                                <hr class="lines-hr">
                              </div>
                            </div>
                            <div class="lines-mobile">
                              <hr class="lines-hr">
                              <hr class="lines-hr">
                              <hr class="lines-hr">
                              <hr class="lines-hr">
                              <hr class="lines-hr">
                            </div>
                          </div>
                    </div>
                    <h3 class="blog__title">Emily, Los Angeles</h3>
                </li>
                <li class="blog__card">
                    <div class="blog__card-image">
                        <img src="./images/girl2.png" alt="" />
                    </div>
                    <div class="blog__text-container">
                      <img class="blog__blockquote" src="./images/blockquotes.png" alt="">
                        <p class="blog__text blog__text-position">
                            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
                        </p>
                        <div class="blog__text-lines">
                          <hr class="lines-hr">
                          <hr class="lines-hr">
                          <hr class="lines-hr">
                          <hr class="lines-hr">
                          <hr class="lines-hr">
                          <hr class="lines-hr">
                          <hr class="lines-hr">
                          <hr class="lines-hr">
                        </div>
                    </div>
                    <h3 class="blog__title">Sarah, Chicago</h3>
                </li>
                <li class="blog__card">
                    <div class="blog__card-image">
                        <img src="./images/girl3.png" alt="" />
                    </div>
                    <div class="blog__text-container">
                      <img class="blog__blockquote" src="./images/blockquotes.png" alt="">
                        <p class="blog__text blog__text-position">
                            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
                        </p>
                        <div class="blog__text-lines">
                          <hr class="lines-hr">
                          <hr class="lines-hr">
                          <hr class="lines-hr">
                          <hr class="lines-hr">
                          <hr class="lines-hr">
                          <hr class="lines-hr">
                          <hr class="lines-hr">
                          <hr class="lines-hr">
                        </div>
                    </div>
                    <h3 class="blog__title">Samantha, New York</h3>
                </li>
            </ul>
            <ul class="select">
                <li class="select__item">
                    <input type="radio" id="select__item-1" checked />
                    <label for="select__item-1"></label>
                </li>
                <li class="select__item">
                    <input type="radio" id="select__item-2" />
                    <label for="select__item-2"></label>
                </li>
                <li class="select__item">
                    <input type="radio" id="select__item-3" />
                    <label for="select__item-3"></label>
                </li>
            </ul>

        </div>
</section>