<section class="layout">
	<div class="layout__image-blog" id="blog">
		<img src="./images/blog-picture.jpg" alt="" />
	</div>
	<div class="container blog-container">
		<div class="blog">
			<input class="select__item" type="radio" name="slider" id="select__item-1" checked />
			<input class="select__item" type="radio" name="slider" id="select__item-2" />
			<input class="select__item" type="radio" name="slider" id="select__item-3" />
			<div class="controls">
				<label class="control__item-main" for="select__item-1"></label>
				<label class="control__item item-2" for="select__item-2"></label>
				<label class="control__item item-3" for="select__item-3"></label>
			</div>

			<ul class="blog__block">
				<li class="blog__card card-1">
					<div class="blog__card-image">
						<img src="./images/girl1.png" alt="" />
					</div>
					<div class="blog__text-container">
						<img class="blog__blockquote" src="./images/blockquotes.png" alt="" />
						<p class="blog__text blog__text-position">
							So yummy ice-cream, like in USSR, really, taste of my childhood! Thank you very much! And your Web-site is
							very cool too, so colorful and exciting, my deepest respect to developers, they are a great team!
						</p>
						<div class="blog__text-lines">
							<div class="lines-desktop">
								<hr class="lines-hr" />
								<hr class="lines-hr" />
								<div class="lines-tablet">
									<hr class="lines-hr" />
								</div>
							</div>
							<div class="lines-mobile">
								<hr class="lines-hr" />
								<hr class="lines-hr" />
								<hr class="lines-hr" />
								<hr class="lines-hr" />
								<hr class="lines-hr" />
							</div>
						</div>
					</div>
					<h3 class="blog__title">Emily, Los Angeles</h3>
				</li>
				<li class="blog__card card-2">
					<div class="blog__card-image">
						<img src="./images/girl2.png" alt="" />
					</div>
					<div class="blog__text-container">
						<img class="blog__blockquote" src="./images/blockquotes.png" alt="" />
						<p class="blog__text blog__text-position">
							Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam
							nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
						</p>
						<div class="blog__text-lines">
							<div class="lines-desktop">
								<hr class="lines-hr" />
								<hr class="lines-hr" />
								<div class="lines-tablet">
									<hr class="lines-hr" />
								</div>
							</div>
							<div class="lines-mobile">
								<hr class="lines-hr" />
								<hr class="lines-hr" />
								<hr class="lines-hr" />
								<hr class="lines-hr" />
								<hr class="lines-hr" />
							</div>
						</div>
					</div>
					<h3 class="blog__title">Sarah, Chicago</h3>
				</li>
				<li class="blog__card card-3">
					<div class="blog__card-image">
						<img src="./images/girl3.png" alt="" />
					</div>
					<div class="blog__text-container">
						<img class="blog__blockquote" src="./images/blockquotes.png" alt="" />
						<p class="blog__text blog__text-position">
							Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam
							nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
						</p>
						<div class="blog__text-lines">
							<div class="lines-desktop">
								<hr class="lines-hr" />
								<hr class="lines-hr" />
								<div class="lines-tablet">
									<hr class="lines-hr" />
								</div>
							</div>
							<div class="lines-mobile">
								<hr class="lines-hr" />
								<hr class="lines-hr" />
								<hr class="lines-hr" />
								<hr class="lines-hr" />
								<hr class="lines-hr" />
							</div>
						</div>
					</div>
					<h3 class="blog__title">Samantha, New York</h3>
				</li>
			</ul>
		</div>
	</div>
</section>
