<section class="container">
  <div class="blog">
    <div class="blog__image">
      <img src="" alt="" />
    </div>
    <ul class="blog__block">
      <li class="blog__card">
        <div class="blog__card-image">
          <img src="" alt="" />
        </div>
        <div class="blog__text-container">
          <p class="blog__text">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
            Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
            ipsum primis in nibh vel risus.
          </p>
        </div>
        <h3 class="blog__title">Emily, Los Angeles</h3>
      </li>
      <li class="blog__card">
        <div class="blog__card-image">
          <img src="" alt="" />
        </div>
        <div class="blog__text-container">
          <p class="blog__text">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
            Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
            ipsum primis in nibh vel risus.
          </p>
        </div>
        <h3 class="blog__title">Emily, Los Angeles</h3>
      </li>
      <li class="blog__card">
        <div class="blog__card-image">
          <img src="" alt="" />
        </div>
        <div class="blog__text-container">
          <p class="blog__text">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
            Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
            ipsum primis in nibh vel risus.
          </p>
        </div>
        <h3 class="blog__title">Emily, Los Angeles</h3>
      </li>
    </ul>
    <ul class="select">
      <li class="select__item"></li>
      <li class="select__item"></li>
      <li class="select__item"></li>
    </ul>
  </div>
</section>
