<footer class="footer">
    <section class="section">
        <div class="container">
            <ul class="footer__card">
                <li class="footer__card-item">
                    <p class="footer__card-type">CAFE</p>
                    <div class="footer__card-city">
                    <h3 class="footer__card-title">Chicago</h3>
                        <address class="footer__card-adress">Fusce ut velit laoreet, tempus arcu molestie vulputate</address>
                    </div>
                    <ul class="footer__card-schedule">
                        <li class="footer__card-schedule-item">
<p class="footer__card-days">Monday - Friday</p>
<p class="footer__card-time">06:00 AM - 10:00 PM</p>
                        </li>
                        <li class="footer__card-schedule-item">
                            <p class="footer__card-days">Monday - Friday</p>
<p class="footer__card__time">06:00 AM - 10:00 PM</p>
                        </li>
                        </ul>
                    
                        
                    <div class="footer__card-contacts">
                        <a href="tel:+610383766284" class="footer__card-tel">+61(0) 383 766 284</a>
                        <a class="footer__card-email" href="mailto:noreply@envato.com">noreply@envato.com</a>
                    </div>
                </li>
                <li class="footer-card__item">
                    <p class="footer__card-type">FOOD TRUCK</p>
                    <div class="footer__card-city">
                    <h3 class="footer__card-title">Los Angeles</h3>
                        <address class="footer__card-adress">Fusce ut velit laoreet, tempus arcu molestie vulputate</address>
                    </div>
                    <ul class="footer__card-schedule">
                        <li class="footer__card-schedule-item">
<p class="footer__card-days">Monday - Friday</p>
<p class="footer__card-time">06:00 AM - 10:00 PM</p>
                        </li>
                        <li class="footer__card-schedule-item">
                            <p class="footer__card-days">Monday - Friday</p>
<p class="footer__card-time">06:00 AM - 10:00 PM</p>
                        </li>
                    </ul>
                        
                    <div class="footer__card-contacts">
                        <a href="tel:+610383766284" class="footer__card-tel">+61(0) 383 766 284</a>
                        <a class="footer__card-email" href="mailto:noreply@envato.com">noreply@envato.com</a>
                    </div>
                </li>
               
                <li class="footer__card-item">
                    <p class="  ">CAFE</p>
                    <div class="footer__card-city">
                    <h3 class=" ">New York</h3>
                        <address class="footer__card-adress">Fusce ut velit laoreet, tempus arcu molestie vulputate</address>
                    </div>
                    <ul class="footer__card-schedule">
                        <li class="footer__card-schedule-item">
<p class="footer__card-days">Monday - Friday</p>
<p class="footer__card-time">06:00 AM - 10:00 PM</p>
                        </li>
                        <li class="footer__card-schedule-item">
                            <p class="footer__card-days">Monday - Friday</p>
<p class="footer__card-time">06:00 AM - 10:00 PM</p>
                        </li>
                    </ul>
     
                    <div class="footer__card-contacts">
                        <a href="tel:+610383766284" class="footer__card-tel">+61(0) 383 766 284</a>
                        <a class="footer__card-email" href="mailto:noreply@envato.com">noreply@envato.com</a>
                    </div>
                </li>
            </ul>
       
            <button class="footer__btn-locations">Our locations</button>
            <button class="footer__btn-franchise">Franchise</button>
            <div class="footer__tagline">
                <b class="footer__tagline-main">homemade ice cream made"</b>
                <b class="footer__tagline-secondary">with passion</b>
            </div>
            <ul class="social-list">
                <li class="social-list__item">
                </li>
                <li class="social-list__item">
                </li>
                <li class="social-list__item">
                </li>
            </ul>
            <p class="footer__contacts"></p>
            <div class="copyrights">
                <p class="footer__copyrights">© 2019 - IceCream. All Rights Reserved.</p>
            </div>
        </div>
    </section>
</footer>