<footer class="footer">
    <section class="section">
        <div class="container">
            <ul class="footer-card">
                <li class="footer-card__item">
                    <p class="footer-card__type"></p>
                    <div class="footer-card__city">
                    <h3 class="footer-card__title">
                        <address class="footer-card__adress"></address>
                    </div>
                    <ul class="footer-card__schedule">
                        <li class="footer-card__schedule-item">
<p class="footer-card__days">Monday - Friday</p>
<p class="footer__card__time">06:00 AM - 10:00 PM</p>
                        </li>
                        <li class="footer-card__schedule-item">
                            <p class="footer-card__days">Monday - Friday</p>
<p class="footer__card__time">06:00 AM - 10:00 PM</p>
                        </li>
                    </ul>
                        </li>
                    <div class="footer-card__contacts">
                        <a href="tel:+61(0) 383 766 284" class="footer-card_tel">+61(0) 383 766 284</a>
                        <a class="footer-card__email" href="mailto:noreply@envato.com">noreply@envato.com</a>
                    </div>
                </li>
                <li class="footer-card__item">
                    <p class="footer-card__type"></p>
                    <div class="footer-card__city">
                    <h3 class="footer-card__title">
                        <address class="footer-card__adress"></address>
                    </div>
                    <ul class="footer-card__schedule">
                        <li class="footer-card__schedule-item">
<p class="footer-card__days">Monday - Friday</p>
<p class="footer__card__time">06:00 AM - 10:00 PM</p>
                        </li>
                        <li class="footer-card__schedule-item">
                            <p class="footer-card__days">Monday - Friday</p>
<p class="footer__card__time">06:00 AM - 10:00 PM</p>
                        </li>
                    </ul>
                        </li>
                    <div class="footer-card__contacts">
                        <a href="tel:+61(0) 383 766 284" class="footer-card_tel">+61(0) 383 766 284</a>
                        <a class="footer-card__email" href="mailto:noreply@envato.com">noreply@envato.com</a>
                    </div>
                </li>
                <li class="footer-card__item">
                    <p class="footer-card__type"></p>
                    <div class="footer-card__city">
                    <h3 class="footer-card__title">
                        <address class="footer-card__adress"></address>
                    </div>
                    <ul class="footer-card__schedule">
                        <li class="footer-card__schedule-item">
<p class="footer-card__days">Monday - Friday</p>
<p class="footer__card__time">06:00 AM - 10:00 PM</p>
                        </li>
                        <li class="footer-card__schedule-item">
                            <p class="footer-card__days">Monday - Friday</p>
<p class="footer__card__time">06:00 AM - 10:00 PM</p>
                        </li>
                    </ul>
                        </li>
                    <div class="footer-card__contacts">
                        <a href="tel:+61(0) 383 766 284" class="footer-card_tel">+61(0) 383 766 284</a>
                        <a class="footer-card__email" href="mailto:noreply@envato.com">noreply@envato.com</a>
                    </div>
                </li>
            </ul>
            <button class="footer-btn__locations">Our locations</button>
            <button class="footer-btn__franchise">Franchise</button>
            <div class="footer__??">
                <b class="??">homemade ice cream made"</b>
                <b class="footer__??">with passion</b>
            </div>
            <ul class="social-list">
                <li class="social-list__item">
                </li>
                <li class="social-list__item">
                </li>
                <li class="social-list__item">
                </li>
            </ul>
            <p class="footer__contacts"></p>
            <div class="copyrights">
                <p class="footer__copyrights">© 2019 - IceCream. All Rights Reserved.</p>
            </div>
        </div>
    </section>
</footer>