<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
</body>
</html>
<footer class="footer">
    <section class="layout-sect">
        <div class="container">
            <ul class="blocks">
                <li class="blocks__item">
                    <p class="blocks__item-type">CAFE</p>
                    <div class="blocks__item-city">
                        <h3 class="blocks__item-title">Chicago</h3>
                        <address class="blocks__item-adress">Fusce ut velit laoreet, tempus arcu molestie vulputate</address>
                    </div>
                    <ul class="schedule">
                        <li class="schedule__item">
                            <p class="schedule__item-days">Monday - Friday</p>
                            <p class="schedule__item-time">06:00 AM - 10:00 PM</p>
                        </li>
                        <li class="schedule__item">
                            <p class="schedule__item-days">Monday - Friday</p>
                            <p class="schedule__item-time">06:00 AM - 10:00 PM</p>
                        </li>
                    </ul>


                    <div class="blocks__item-contacts">
                        <a href="tel:+610383766284" class="blocks__item-tel">+61(0) 383 766 284</a>
                        <a class="blocks__item-email" href="mailto:noreply@envato.com">noreply@envato.com</a>
                    </div>
                </li>
                <li class="blocks__item">
                    <p class="blocks__item-type">FOOD TRUCK</p>
                    <div class="blocks__item-city">
                        <h3 class="blocks__item-title">Los Angeles</h3>
                        <address class="blocks__item-adress">Fusce ut velit laoreet, tempus arcu molestie vulputate</address>
                    </div>
                    <ul class="schedule">
                        <li class="schedule__item">
                            <p class="schedule__item-days">Monday - Friday</p>
                            <p class="schedule__item-time">06:00 AM - 10:00 PM</p>
                        </li>
                        <li class="schedule__itemm">
                            <p class="schedule__item-days">Monday - Friday</p>
                            <p class="schedule__item-time">06:00 AM - 10:00 PM</p>
                        </li>
                    </ul>

                    <div class="blocks__item-contacts">
                        <a href="tel:+610383766284" class="blocks__item-tel">+61(0) 383 766 284</a>
                        <a class="blocks__item-email" href="mailto:noreply@envato.com">noreply@envato.com</a>
                    </div>
                </li>

                <li class="blocks__item">
                    <p class="  ">CAFE</p>
                    <div class="blocks__item-city">
                        <h3 class="blocks__item-title">New York</h3>
                        <address class="blocks__item-adress">Fusce ut velit laoreet, tempus arcu molestie vulputate</address>
                    </div>
                    <ul class="schedule">
                        <li class="schedule__item">
                            <p class="schedule__item-days">Monday - Friday</p>
                            <p class="schedule__item-time">06:00 AM - 10:00 PM</p>
                        </li>
                        <li class="schedule__item-schedule-item">
                            <p class="schedule__item-days">Monday - Friday</p>
                            <p class="schedule__item-time">06:00 AM - 10:00 PM</p>
                        </li>
                    </ul>

                    <div class="blocks__item-contacts">
                        <a href="tel:+610383766284" class="blocks__item-tel">+61(0) 383 766 284</a>
                        <a class="blocks__item-email" href="mailto:noreply@envato.com">noreply@envato.com</a>
                    </div>
                </li>
            </ul>

            <button class="footer__btn-locations">Our locations</button>
            <button class="footer__btn-franchise">Franchise</button>
            <div class="footer__tagline">
                <b class="footer__tagline-main">homemade ice cream made"</b>
                <b class="footer__tagline-secondary">with passion</b>
            </div>
            <ul class="social__list">
                <li class="social__list-item">
                </li>
                <li class="social__list-item">
                </li>
                <li class="social__list-item">
                </li>
            </ul>
            <p class="footer__contacts">
                Feel free to contact <a href="tel+610383766284" class="footer__contacts-tel">+61 (0) 383 766 284</a>
            </p>
            <div class="copyrights">
                <p class="footer__copyrights">© 2019 - IceCream. All Rights Reserved.</p>
            </div>
        </div>
    </section>
</footer>