<section class="layout-sect">
  <div class="overlay">

    <div class="overlay__sector-one">

      <div class="header__box">
        <h1 class="header__box-title">
          ice cream made with
          <span class="header__box-title-part">
            passion
          </span>
        </h1>
        
        <div class="header__box-container">
          <ul class="header__box-list">
            <li class="header__box-btn">
              <button 
              class=" btn btn--frst btn--normal">
                Products
              </button>
            </li>
            <li class="header__box-btn">
              <button 
              class="btn btn--scnd btn--normal">
                How it’s made?
              </button>
            </li>
          </ul>
        </div>
      </div>

      <div class="header__count-img">
        <img src="" alt="" class="header__count-first">
        <img src="" alt="" class="header__count-second">
      </div>
    </div>

    <div class="overlay__sector-two">

      <div class="header__block">
        <ul class="header__block-list">
  
          <li class="header__block-item">
            <img src="" alt="" class="header__block-img">
          </li>
  
          <li class="header__block-item">
            <p class="header__block-text" >
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            </p>
          </li>
  
          <li class="header__block-item">
            <a href="" class="header__block-link"></a>
          </li>
        </ul>
      </div>

      <div class="header__pretty-img">
        <img src="" alt="">
      </div>
    </div>

    <div class="header__main-img">
      <img src="" alt="">
    </div>


  </div>
</section>


    
