<section class="layout layout-overlay">
    <div class="overlay container">

        <div class="overlay__sector-one">

            <div class="header__box">
                <h1 class="header__box-title">
                    ice cream made with
                    <span class="header__box-title-part">
                        passion
                    </span>
                </h1>
                <div class="header__box-container">
                    <ul class="header__box-list">
                        <li class="header__box-btn">
                        <button 
                            class="header__btn-first">
                            Products
                        </button>
                        </li>
                        <li class="header__box-btn">
                            <button 
                            class="header__btn-second">
                            How it’s made?
                            </button>
                        </li>
                    </ul>
                </div>
            </div>

            <ul class="count__list">
                <li class="count__item">
                    <p class="count__numb">16</p>
                    <span class="count__txt">cafes</span>
                </li>
                <li class="count__item">
                    <p class="count__numb">23</p>
                    <span class="count__txt">food trucks</span>
                </li>
            </ul>
        </div>

        <div class="overlay__sector-two">

            <div class="header__block">
                <img class="header__block-img" srcset="
                    ./images/header-block-img.png 1x,
                    ./images/header-block-img@2x.png 2x
                    " src="./images/header-block-img.png" 
                    alt="Картинка молока">

                <ul class="header__block-list">
                    <li class="header__block-item">
                        <p class="header__block-text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                        </p>
                    </li>

                    <li class="header__block-item">
                        <button class="header__block-btn">
                            <svg width='26' height='26'>
                                <use href="./images/long-arrow-s.svg#image0"></use>
                            </svg>
                        </button>
                    </li>
                </ul>
            </div>

            <div class="header__pretty-img">
                <img srcset="
                    ./images/header-pretty-img.png 1x,
                    ./images/header-pretty-img@2x.png 2x"
                    src="./images/header-pretty-img.png" alt="Картинка девушки">
            </div>
        </div>

        <div class="header__main-img">
            <img class="header__png" srcset="
            ./images/header-main-img.png 1x,
            ./images/header-main-img@2x.png 2x" 
            src="./images/header-main-img.png" alt="Картинка мороженого">
        </div>


    </div>
</section>