<!-- Удалю позже, а то они на всю страницу -->
<style>
  img { 
  width: 100px;
  height: 100px;
  }
 </style>
<!-- ........................................ -->
<section class="layout-sect">
  <div class="overlay">

    <div class="overlay__sector-one">

      <div class="header__box">
        <h1 class="header__box-title">
          ice cream made with
          <span class="header__box-title-part">
            passion
          </span>
        </h1>
        
        <div class="header__box-container">
          <ul class="header__box-list">
            <li class="header__box-btn">
              <button 
              class=" btn btn--frst btn--normal">
                Products
              </button>
            </li>
            <li class="header__box-btn">
              <button 
              class="btn btn--scnd btn--normal">
                How it’s made?
              </button>
            </li>
          </ul>
        </div>
      </div>

      <div class="header__count-img">
        <img src="./images/16.png" alt="" class="header__count-first">
        <img src="./images/23.png" alt="" class="header__count-second">
      </div>
    </div>

    <div class="overlay__sector-two">

      <div class="header__block">
        <ul class="header__block-list">
  
          <li class="header__block-item">
            <img class="header__block-img"
            srcset="
            ./images/header-block-img.jpg 1x,
            ./images/header-block-img@2x.jpg 2x
            "
            src="./images/header-block-img.jpg" 
            alt="Картинка молока">
          </li>
  
          <li class="header__block-item">
            <p class="header__block-text" >
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            </p>
          </li>
  
          <li class="header__block-item">
            <a href="" class="header__block-link"></a>
          </li>
        </ul>
      </div>

      <div class="header__pretty-img">
        <img
        srcset="
        ./images/header-pretty-img.jpg 1x,
        ./images/header-pretty-img@2x.jpg 2x
        "
        src="./images/header-pretty-img.jpg" 
        alt="Картинка девушки">
      </div>
    </div>

    <div class="header__main-img">
      <img
      srcset="
      ./images/header-main-img.jpg 1x,
      ./images/header-main-img@2x.jpg 2x
      "
      src="./images/header-main-img.jpg" 
      alt="Картинка мороженого">
    </div>


  </div>
</section>


    
