<header class="header">
    <div class="header-container container">
        <ul class="header__list">

            <li class="header__list-item logo">
                <a href="" class="logo__link">
                    <img class="logo__svg" width="199" height="50" src="./images/logo.svg" alt="Логотип">
                </a>
            </li>

            <li class="header__list-item menu">
                <div class="menu-container " id="menu-container" data-menu>
                    <button type="button" class="burger--btn-close" aria-expanded="false" data-menu-button-cl>
                        <svg aria-label="Переключатель мобильного меню">
                            <use class="icon-cross" href="./images/sprite.svg#icon-close-menu"></use>
                        </svg>
                    </button>
                    <button type="button" class="header__btn">
                       Buy now
                    </button>
                    <nav class="nav">
                        <ul class="nav-list">
                            <li class="nav-list__item">
                                <a href="" class="nav-list__link is--current">
                                    Home
                                </a>
                            </li>
                            <li class="nav-list__item">
                                <a href="#blog" class="nav-list__link">
                                    About us
                                </a>
                            </li>
                            <li class="nav-list__item">
                                <a href="#about" class="nav-list__link">
                                    How it’s made?
                                </a>
                            </li>
                            <li class="nav-list__item">
                                <a href="#products" class="nav-list__link">
                                    Our products
                                </a>
                            </li>
                            <li class="nav-list__item">
                                <a href="#contacts" class="nav-list__link">
                                    Contact
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </li>

            <li class="header__list-item burger">
                <button type="button" class="burger--btn" aria-expanded="false" data-menu-button>
                    <svg aria-label="Переключатель мобильного меню">
                        <use class="icon-menu" href="./images/sprite.svg#icon-burger-menu"></use>
                    </svg>
                </button>
            </li>

            <li class="header__list-item">
                <button type="button" class="header__btn-thd">
                    Buy now
                 </button>
            </li>

        </ul>

    </div>
</header>