<header class="header">
  <div class="container">
    <ul class="header-list">

      <li class="header-list__item item-logo">
        <a href="" class="item-logo__link">
          <svg class="item-logo__svg">
            <use xlink:href=""></use>
          </svg> 
        </a>
      </li>

      <li class="header-list__item">
        <div class="menu-container">
          <nav class="nav">
            <ul class="nav-list">
              <li class="nav-list__item">
                <a href="" class="nav-list__link is--current">
                  Home
                </a>
              </li>
              <li class="nav-list__item">
                <a href="" class="nav-list__link">
                  About us
                </a>
              </li>
              <li class="nav-list__item">
                <a href="" class="nav-list__link">
                  How it’s made?
                </a>
              </li>
              <li class="nav-list__item">
                <a href="" class="nav-list__link">
                  Our products
                </a>
              </li>
              <li class="nav-list__item">
                <a href="" class="nav-list__link">
                  Contact
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </li>

      <li class="header-list__item burger--btn">
        <button
        type="button"
        class="btn"
        aria-expanded="false"
        data-menu-button> бургер
        <!-- <svg aria-label="Переключатель мобильного меню">
          <use class="icon-menu" xlink:href=""></use>
          <use class="icon-cross" xlink:href=""></use>
        </svg> -->
        </button>
      </li>

      <li class="header-list__item header--btn">
        <button
          type="button"
          class="btn">
          Buy now
        </button>
      </li>
    </ul>

    <div class="header__box">
      <h1 class="header__box-title">
        ice cream made with
        <span class="header__box-title-part">
          passion
        </span>
      </h1>
      
      <div class="header__box-container">
        <ul class="header__box-list">
          <li class="header__box-btn">
            <button class="btn">
              Products
            </button>
          </li>
          <li class="header__box-btn">
            <button class="btn">
              How it’s made?
            </button>
          </li>
        </ul>
      </div>
    </div>

    <div class="header__block">
      <ul class="header__block-list">

        <li class="header__block-item">
          <img src="" alt="" class="header__block-img">
        </li>

        <li class="header__block-item">
          <p class="header__block-text" >
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
          </p>
        </li>

        <li class="header__block-item">
          <a href="" class="header__block-link"></a>
        </li>
        
      </ul>
    </div>

    <div class="header__main-img">
      <img src="" alt="">
    </div>

    <div class="header__pretty-img">
      <img src="" alt="">
    </div>

    <div class="header__count-img">
      <img src="" alt="" class="header__count-first">
      <img src="" alt="" class="header__count-second">
    </div>

  </div>

</header>