<section class="layout">
  <div class="container">
    <div class="products__title">
      <h2 class="products__title-text">
        100% natural
        <span class="title-text__part">products</span>
      </h2>
    </div>
    <ul class="list">
      <li class="list__item">
        <div class="list__item-box">
          <img
            class="item-box__picture"
            srcset="./images/ice-cream.png 320w, ./images/ice-cream@2x.png 640w"
            src="./images/ice-cream.png"
            alt="ice cream"
            sizes="(min-width: 768px) 33vw, 100vw"
          />
        </div>
        <h3 class="list__item-title">ice cream</h3>
        <svg class="list__item-ellipsis" width="26" height="6">
          <use href="./images/sprite.svg#icon-blog-dots"></use>
        </svg>
        <p class="list__item-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et
        </p>
        <button class="list__item-btn">
          <svg class="item-btn__icon" width="40" height="40">
            <use href="./images/long-arrow.svg#image0"></use>
          </svg>
        </button>
      </li>
      <li class="list__item">
        <div class="list__item-box">
          <img
            class="item-box__picture"
            srcset="
              ./images/ice-coffee.png    320w,
              ./images/ice-coffee@2x.png 640w
            "
            src="./images/ice-coffee.png"
            alt="ice coffee"
            sizes="(min-width: 768px) 33vw, 100vw"
          />
        </div>
        <h3 class="list__item-title">ice coffee</h3>
        <svg class="list__item-ellipsis" width="26" height="6">
          <use href="./images/sprite.svg#icon-blog-dots"></use>
        </svg>
        <p class="list__item-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et
        </p>
        <button class="list__item-btn">
          <svg class="item-btn__icon" width="40" height="40">
            <use href="./images/long-arrow.svg#image0"></use>
          </svg>
        </button>
      </li>
      <li class="list__item">
        <div class="list__item-box">
          <img
            class="item-box__picture"
            srcset="
              ./images/milkshakes.png    320w,
              ./images/milkshakes@2x.png 640w
            "
            src="./images/milkshakes.png"
            alt="milkshakes"
            sizes="(min-width: 768px) 33vw, 100vw"
          />
        </div>
        <h3 class="list__item-title">milkshakes</h3>
        <svg class="list__item-ellipsis" width="26" height="6">
          <use href="./images/sprite.svg#icon-blog-dots"></use>
        </svg>
        <p class="list__item-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et
        </p>
        <button class="list__item-btn">
          <svg class="item-btn__icon" width="40" height="40">
            <use href="./images/long-arrow.svg#image0"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
