<section class="products">
  <div class="section">
    <div class="products__title">
      <h2 class="products__title-text">
        100% natural
        <span class="title-text__part">products</span>
      </h2>
    </div>
    <ul class="list">
      <li class="list__item">
        <div class="list__item-box">
          <img class="item-box__picture" src="" alt="" />
        </div>
        <h3 class="list__item-title">ice cream</h3>
        <svg class="list__item-ellipsis">
          <use href=""></use>
        </svg>
        <p class="list__item-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et
        </p>
        <button class="list__item-btn">
          <svg class="item-btn__icon">
            <use href=""></use>
          </svg>
        </button>
      </li>
      <li class="list-item">
        <div class="list__item-box">
          <img class="item-box__picture" src="" alt="" />
        </div>
        <h3 class="list__item-title">ice coffee</h3>
        <svg class="list__item-ellipsis">
          <use href=""></use>
        </svg>
        <p class="list__item-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et
        </p>
        <button class="list__item-btn">
          <svg class="item-btn__icon">
            <use href=""></use>
          </svg>
        </button>
      </li>
      <li class="list-item">
        <div class="list__item-box">
          <img class="item-box__picture" src="" alt="" />
        </div>
        <h3 class="list__item-title">milkshakes</h3>
        <svg class="list__item-ellipsis">
          <use href=""></use>
        </svg>
        <p class="list__item-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et
        </p>
        <button class="list__item-btn">
          <svg class="item-btn__icon">
            <use href=""></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
