<section class="products-section">
  <div class="products-form">
    <div class="products-form__title">
      <h2 class="products-form__title__text">
        100% natural
        <span class="products-form__title__text-part">products</span>
      </h2>
    </div>
    <ul class="products-form__list">
      <li class="products-form__list__item">
        <img class="products-form__list__img" src="" alt="" />
        <h3 class="products-form__list__title">ice cream</h3>
        <p class="products-form__list__ellipsis">...</p>
        <p class="products-form__list__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et
        </p>
        <button class="products-form__list__btn">
          <svg>
            <use href=""></use>
          </svg>
        </button>
      </li>
      <li class="products-form__list__item">
        <img class="products-form__list__img" src="" alt="" />
        <h3 class="products-form__list__title">ice coffee</h3>
        <p class="products-form__list__ellipsis">...</p>
        <p class="products-form__list__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et
        </p>
        <button class="products-form__list__btn">
          <svg class="products-form__list__btn-icon">
            <use href=""></use>
          </svg>
        </button>
      </li>
      <li class="products-form__list__item">
        <img class="products-form__list__img" src="" alt="" />
        <h3 class="products-form__list__title">milkshakes</h3>
        <p class="products-form__list__ellipsis">...</p>
        <p class="products-form__list__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et
        </p>
        <button class="products-form__list__btn">
          <svg class="products-form__list__btn-icon">
            <use href=""></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
