.descriptoin__text {
    // background-image: url(../images/info-bcg.png);
    // background-size: contain;
    // background-position: bottom;
    // background-repeat: no-repeat;
    position: relative;
    &-item {
        @include font-line(12px, 19px);
        font-weight: 500;
        line-height: 19px;
    }
}

.descriptoin__text-bacground {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: -20px;
    max-width: 490px;
}

.descriptoin__text-img {
    width: calc(100% + 40px);
    z-index: 0;
}

.item--grey {
    color: $grey;
}

.item-text {
    margin-top: 20px;
}

.cards__item-title {
    line-height: 41px;
    font-size: 36px;
}

.cards__item-text {
    line-height: 20px;
}

.descriptoin__img {
    padding: 0 26px;
    width: 100%;
    height: 279px;
    display: flex;
    justify-content: center;
}

.descriptoin__img-img {
    height: 100%;
    max-width: 280px;
    width: 100%;
}

.descriptoin__text {
    padding: 0 30px;
    &-item {
        padding: 23px 0;
    }
}

.descriptoin__button-svg {
    width: 4.5px;
    height: 8px;
}

.cards__item-svg.svg--first {
    width: 33px;
    height: 50px;
}

.cards__item-svg.svg--second {
    width: 50px;
    height: 50px;
}

.cards__item-svg.svg--third {
    width: 44px;
    height: 50px;
}