.layout-overlay {
    height: 446px;
    @media screen and (min-width: 768px) and (max-width: 1199px) {
        height: 312px;
    }
}

.overlay.container {
    @media screen and (max-width: 767px) {
        position: relative;
    }
}

.overlay__sector-one {
    @media screen and (max-width: 767px) {
        position: absolute;
        top: 137px;
        z-index: 2;
    }

    display: flex;
    justify-content: space-between;
}

.overlay__sector-two {
    @media screen and (max-width: 767px) {
        display: none;
    }
    display: flex;
    justify-content: space-between;


}

.header__btn-first {
    @include btn(62px, 24px, $white, $red, 400, 8px, 10px);
}

.header__btn-second {
    @include btn(83px, 24px, $red, $white, 400, 8px, 10px);
}

.header__block-text {
    font-weight: 400;
    @include font-line(8px, 12px);
    color: $white;
}

.header__box-title {
    display: inline-block;
    font-family: $title-font;
    font-weight: 400;
    text-transform: uppercase;
    @include font-line(26px, 30px);
    letter-spacing: 0.04em;
    color: $white;
    &-part {
        display: inline-block;
        @include font-line(48px, 46.32px);
        color: $red;
    }
}

.header__box {
    max-width: 218px;
    max-height: 107px;
    &-container {
        padding-top: 19px;
    }
    &-list {
        display: flex;
        margin: 0 -4px;
    }
    &-btn {
        margin: 0 4px;
    }
}

.header__block-img {
    width: 124px;
    height: 126px;
}

.header__count-img {
    @media screen and (max-width: 767px) {
        display: none;
    }
    display: block;
    width: 33px;
    height: 32px;
}



.header__main-img {
    @media screen and (max-width: 767px) {
        position: absolute;
        overflow: hidden;
        top: 27px;
        left: 36px;
        z-index: 1;
        min-width: 100%;
    }
    
}

.header__png {
    object-fit: contain;
    @media screen and (min-width: 768px) and (max-width: 1199px) {
        height: 419px;
        min-width: 367px;
    }

}

@media screen and (min-width: 768px) {}

@media screen and (min-width: 1200px) {}