.header-container.container {
  position: static;
}

.header-container {

    display: flex;
    align-items: center;
    justify-content: space-between;

    &.container {
      @media screen and (max-width: 767px) {
        padding-top: 6px;
      }

      @media screen and (min-width: 768px) {
        padding-top: 37px;
      }

      @media screen and (min-width: 1280px) {
        padding-left: 46px;
        padding-right: 97px;
      }
    }

}

.logo__link{
  @media screen and (max-width: 1279px) {
    margin-right: auto;
  }
}

.logo__svg {
  max-width: 199px;
  max-height: 50px;
}

@media screen and (max-width: 1279px) {
  .menu-container {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 11;
    pointer-events: none;
    opacity: 0;
    width: 100%;
    height: 100vh;
    transition: opacity 0.5s linear;
    background-color: rgba(83, 2, 2, 0.2);
    }
}

.menu-container.is-open {
  opacity: 1;
	transition: opacity 0.5s linear;

  .backdrop {
    opacity: 1;
    pointer-events: visible;
  }
}

@media screen and (max-width: 1279px) {
  .backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 40%;
    z-index: 15;
    pointer-events: none;
    opacity: 0;
    background-color: $dark-pink;
    transition: opacity 0.5s linear;
    @media screen and (max-width: 767px) {
      width: 100%;
    }
  }
}

@media screen and (min-width: 1280px) {

    .menu-container {
      z-index: 1;
      .burger--btn-close {
          display: none;
      }
      .header__btn {
          display: none;
      }
    }

    .nav-list {
      display: flex;
      margin: -2px -17px;
      flex-wrap: wrap;
      justify-content: center;
      &__item {
          padding: 2px 17px;
      }
      &__link {
          font-family: $main-font;
          @include font-line(16px, 21px);
          color: $white;
          text-decoration: none;
          &.is--current {
              color: $red;
          }
      }
    }
}

.nav-list__link {
  transition: color 0.2s linear;
  &:hover,
  &:focus {
    color: $red;
  }
}


.burger--btn {
  z-index: 2;
  @media screen and (min-width: 1280px) {
      display: none;
  }
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: flex;
    border: none;
    background-color: transparent;
    &-close {
        margin-top: 10px;
        margin-right: 20px;
        width: 40px;
        height: 40px;
        cursor: pointer;
        display: flex;
        border: none;
        background-color: transparent;
        margin-left: auto;
    }
}

.header__btn {
    @include btn(209px, 44px, $red, $white, 700, 16px, 21px);
    margin-top: 23px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 4;
    &-thd {
        @media screen and (max-width: 767px) {
            display: none;
        }
        @include btn(160px, 44px, $red, $white, 700, 16px, 21px);
        display: flex;
        align-items: center;
        justify-content: center;

        @media screen and (max-width: 1279px) {
          margin-left: 30px;
        }

    }

}

.header__btn::after,
.header__btn-thd::after {
	content: "";
	background-image: url(../images/btn-icon.svg);
	display: block;
	margin-left: 16px;
	height: 10px;
	width: 8px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

@media screen and (max-width: 1279px) {
	.nav-list {
		margin-top: 19px;
		&__item {
			padding: 20px 0;
			border-top: 1px solid $border;
			border-bottom: 1px solid $border;
			@media screen and (min-width: 768px) {
				padding: 11px 0;
			}
		}
		&__link {
			padding: 0 30px;
			font-family: $main-font;
			@include font-line(20px, 26px);
			color: $white;
			font-weight: 700;
			text-decoration: none;
			@media screen and (min-width: 768px) {
				@include font-line(20px, 26px);
			}
		}
	}
}
